version: '3.9'
services:
  postgres:
    image: postgres:15
    container_name: inventory
    environment:
      POSTGRES_USER: anopa284
      POSTGRES_PASSWORD: rusamu2003!!
      POSTGRES_DB: inventory_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
